<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Noticia | Detalle</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body style="background: white">
        <header th:replace='/fragmentos/navbar :: header'></header>
        <main class="main__detalle main__overlay">
            
            <div class="padd">
                <h2 th:text="${noticia.titulo}"></h2>
                <p th:text="${noticia.cuerpo}"></p>
                <p th:text="${noticia.fecha}"></p> 
            </div>
            <a th:href="@{/inicio}" class="figure__a">Volver</a>
        </main>
    </body>
</html>
